{% extends "base.html" %}

{% block title %}
   Database Query
{% endblock %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3"></script>
    <style>
        #chartContainer {
            width: 800px;
            overflow-x: auto;
        }
        #canvasContainer {
            width: 800px; /* Initial width, will be set dynamically by JavaScript */
            max-height: 500px;
        }
        #myChart {
            display: block;
            width: 100%;
            height: 500px;
        }
        #query_results{
            overflow-x: auto;
            max-height: 800px;
            overflow-y: auto;
        }
        table { 
            border-collapse: collapse; 
        } 
        th, td { 
            border: 1px solid #a0a0a0; 
            padding: 2px; 
            white-space: nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis; 
        } 
        th { 
            background-color: #f2f2f2; 
        } 
    </style>
{% endblock %}

{% block content %}

{{block_header(servername)}}
<div style="display: flex;">
    <div style="flex: 1; padding: 10px;">
        <div id="savedQueriesList"></div>
        <button onclick="newQuery()">New</button>
        <button onclick="renameQuery()">Rename</button>
        <button onclick="deleteQuery()">Delete</button>
    </div>
    <div style="flex: 3; padding: 10px;">
        <textarea id="queryInput" style="width: 100%; height: 30em;"></textarea>
        <button onclick="submitQuery()">Run Query</button>
        <button onclick="saveQuery()">Save</button>
        <button onclick="clearOutput()">Clear Output</button>
    </div>
</div>
{{ block_footer() }}

{{block_header('Query Results')}}
<div>
    <select id="timeGranularity">
        <option value="yearly">Yearly</option>
        <option value="monthly">Monthly</option>
        <option value="daily" selected>Daily</option>
        <option value="hourly">Hourly</option>
    </select>
    <button onclick="renderChart()">Render Chart</button>
    <span style="margin-left: 20px;">Min spacing between data points:</span>
    <input type="text" id="paddingText" value="10" style="width: 20px;">
</div>
<div id="chartContainer">
    <div id="canvasContainer">
        <canvas id="myChart"></canvas>
    </div>
</div>
<div id="query_results"></div>
{{block_footer()}}


<script>
    let currentQueries = {};

    function saveQuery() {
        const title = prompt("Enter a title for the query:");
        if (title) {
            const query = document.getElementById('queryInput').value;
            currentQueries.push({ title, query });
            postQueries(currentQueries); //POST the currentQueries object to the server to save it
            displayQueries();
        }
    }

    function displayQueries() {
        let listHtml = currentQueries.map((item, index) => 
            `<div onclick="loadQuery(${index})">${index}. ${item.title}</div>`
        ).join('');
        document.getElementById('savedQueriesList').innerHTML = listHtml;
    }

    function loadQuery(index) {
        document.getElementById('queryInput').value = currentQueries[index].query;
    }

    function newQuery() {
        document.getElementById('queryInput').value = '';
    }

    function renameQuery() {
        const index = prompt("Enter the index of the query to rename:");
        if (index !== null) {
            const newTitle = prompt("Enter the new title:");
            if (currentQueries[index]) {
                currentQueries[index].title = newTitle;
                postQueries(currentQueries); //POST the new currentQueries to the server to save it
                displayQueries();
            }
        }
    }

    function deleteQuery() {
        const index = prompt("Enter the index of the query to delete:");
        if (index !== null) {
            if (currentQueries[index]) {
                currentQueries.splice(index, 1);
                postQueries(currentQueries); //POST the new currentQueries to the server to save it
                displayQueries();
            }
        }
    }

    async function getQueries() {
        try {
            const response = await fetch('/queries');
            if (response.ok) {
                return await response.json();
            } else {
                console.error("Failed to fetch queries");
                return [];
            }
        } catch (error) {
            console.error("Error fetching queries:", error);
            return [];
        }
    }

    async function postQueries(queries) {
        try {
            const response = await fetch('/queries', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(queries)
            });
            if (response.ok) {
                return await response.json();
            } else {
                console.error("Failed to save queries");
            }
        } catch (error) {
            console.error("Error saving queries:", error);
        }
    }

    //get and display saved queries on page load
    currentQueries = getQueries();
    displayQueries();
</script>

<script>
    var sqlResponse = null;

    function submitQuery() {
        document.getElementById('query_results').innerHTML = '';
        const query = document.getElementById('queryInput').value;
        fetch('/sql', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ query: query })
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('query_results').innerHTML = createHtmlTableFromData(data);
            sqlResponse = data;
        }).catch(error => {
            console.log('catch-error: ', error);
        });
    }

    function createHtmlTableFromData(data) {
        let tableHtml = "<table><thead><tr>";
        data.columns.forEach(column => {
            tableHtml += `<th>${column}</th>`;
        });
        tableHtml += "</tr></thead><tbody>";
        data.rows.forEach(row => {
            tableHtml += "<tr>";
            data.columns.forEach(column => {
                if (column === 'response_code') {
                    tableHtml += `<td style="background-color: ${getResponseColor(row[column])}">${row[column]}</td>`;
                } else {
                    tableHtml += `<td>${row[column]}</td>`;
                }
            });
            tableHtml += "</tr>";
        });
        tableHtml += "</tbody></table>";
        return tableHtml;
    }

    function getResponseColor(response_code) {
        const level = Math.floor(response_code / 100);
        let color;
        switch (level) {
            case 1: color = 'blue'; break;
            case 2: color = 'green'; break;
            case 3: color = 'yellow'; break;
            case 4: color = 'red'; break;
            case 5: color = 'purple'; break;
            default: color = response_code === 444 ? 'black' : 'white';
        }
        return color;
    }

    function renderChart() {
        const canvas = document.getElementById('myChart');
        const granularity = document.getElementById('timeGranularity').value;
        const processedData = processDataForChart(sqlResponse, granularity);
        
        // Set the canvas container size
        const minSpacing = document.getElementById('paddingText').value; 
        const innerPadding = 100, maxWidth = 800; //800px is the width of the chart container 
        const spacing = Math.max((maxWidth - innerPadding) / processedData.labels.length, minSpacing); 
        const totalWidth = (spacing * processedData.labels.length) + innerPadding;
        document.getElementById('canvasContainer').style.width = `${totalWidth}px`;
        
        if (canvas.chart) {
            // Update the existing chart with new data
            canvas.chart.data.labels = processedData.labels;
            canvas.chart.data.datasets = processedData.datasets;
            canvas.chart.update();
        } else {
            // Create a new Chart instance
            canvas.chart = new Chart(canvas.getContext('2d'), {
                type: "line",
                data: processedData,
                options: {
                    responsive: false,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            ticks: {
                                stepSize: 1
                            }
                        },
                        x: {
                            ticks: {
                                autoSkip: true,
                                maxRotation: 45,
                                minRotation: 45
                            }
                        }
                    }
                }
            });
        }
    }

    function processDataForChart(data, granularity) {
        //this function proccesses time-base data from an sql query and processes it into a charts.js object

        //the charts.js object, chart.data
        let returnObject = { labels: [], datasets: [] };

        if (!data || !data.rows || data.rows.length === 0) {
            console.error("No data to process");
            return returnObject;
        }

        let dataColumns = data.columns; //load all the column names
        let timeColumn = dataColumns.shift(); //the first column is the date-time
    
        const firstTime = new Date(data.rows[0][timeColumn] + 'Z'); // +Z since our data should always be UTC
        const lastTime = new Date(data.rows[data.rows.length - 1][timeColumn] + 'Z');    
        let fullTimeBlocks = [];

        //increment through the date, fristTime to lastTime, and increment by the granularity
        //this creates a full array of time slots
        for(let currentTime = new Date(firstTime); 
            currentTime <= lastTime; 
            incrementTime(currentTime, granularity)){
                fullTimeBlocks.push(formatTime(currentTime, granularity));
        }

        returnObject.labels = fullTimeBlocks;
        const getColor = createColorIterator();

        dataColumns.forEach(colName => {
            const dataMap = new Map(data.rows.map(row => [row[timeColumn], row[colName]]));
            
            //this maps the current colName data into the fullTimeBlocks time slots
            let mergedData = fullTimeBlocks.map(block => dataMap.get(block) || 0); //add the data if available, or fill it with 0

            //add the mergedData to the datasets
            returnObject.datasets.push({
                label: colName, 
                data: mergedData, 
                borderColor: getColor(),
                tension: 0.3
            });
        });

        return returnObject;
    }
    
    function formatTime(date, granularity) {
        const year = date.getUTCFullYear();
        const month = (date.getUTCMonth() + 1).toString().padStart(2, '0'); // JavaScript months are 0-indexed
        const day = date.getUTCDate().toString().padStart(2, '0');
        const hour = date.getUTCHours().toString().padStart(2, '0');
    
        switch (granularity) {
            case 'yearly':
                return `${year}`;
            case 'monthly':
                return `${year}-${month}`;
            case 'daily':
                return `${year}-${month}-${day}`;
            case 'hourly':
                return `${year}-${month}-${day} ${hour}:00`;
        }
    }
    
    function incrementTime(date, granularity) {
        switch (granularity) {
            case 'yearly':
                date.setUTCFullYear(date.getUTCFullYear() + 1);
                break;
            case 'monthly':
                date.setUTCMonth(date.getUTCMonth() + 1);
                break;
            case 'daily':
                date.setUTCDate(date.getUTCDate() + 1);
                break;
            case 'hourly':
                date.setUTCHours(date.getUTCHours() + 1);
                break;
        }
    }

// This is a closure iterator that returns the next color in the list
function createColorIterator() {
    const bgColors = [
        'rgba(59, 89, 152)',   // Royal Blue
        'rgba(255, 153, 51)',  // Orange
        'rgba(0, 166, 147)',   // Teal
        'rgba(219, 68, 55)',   // Red
        'rgba(102, 45, 145)',  // Purple
        'rgba(0, 180, 216)',   // Cyan
        'rgba(255, 87, 51)',   // Tangerine
        'rgba(84, 179, 136)',  // Moss Green
        'rgba(255, 205, 64)',  // Yellow
        'rgba(220, 118, 51)',  // Pumpkin
        'rgba(75, 192, 192)',  // Light Sea Green
        'rgba(153, 102, 255)', // Lavender
        'rgba(255, 159, 64)',  // Peach
        'rgba(54, 162, 235)',  // Light Blue
        'rgba(231, 233, 237)', // Light Grey
        'rgba(201, 203, 207)', // Silver
        'rgba(255, 99, 132)',  // Rose
        'rgba(255, 206, 86)',  // Light Yellow
        'rgba(75, 192, 192)',  // Light Green
        'rgba(153, 102, 255)', // Periwinkle
        'rgba(255, 159, 64)',  // Coral
        'rgba(99, 255, 132)',  // Mint
        'rgba(206, 86, 255)',  // Orchid
        'rgba(175, 192, 192)', // Steel Teal
        'rgba(102, 153, 0)',   // Dark Olive
        'rgba(204, 0, 204)',   // Magenta
        'rgba(51, 51, 255)',   // Electric Blue
        'rgba(255, 0, 255)',   // Fuchsia
        'rgba(0, 255, 0)',     // Bright Green
        'rgba(255, 255, 0)',   // Bright Yellow
        'rgba(0, 255, 255)',   // Aqua
        'rgba(255, 0, 0)'      // Bright Red
    ];
    let currentIndex = 0;
    
    return () => {
        const color = bgColors[currentIndex]; // Get the current color
        currentIndex = (currentIndex + 1) % bgColors.length; // Move to next index or loop back to 0
        return color; // Return the current color
    };
}
    
</script>

{% endblock %}