{% extends "base.html" %}

{% block title %}
   pagehit_db SQL query
{% endblock %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3"></script>
    <style>
        #chartContainer {
            width: 800px;
            overflow-x: auto;
        }
        #myChart {
            display: block;
        }
        #query_results{
            overflow-x: auto;
            max-height: 800px;
            overflow-y: auto;
        }
        table { 
            border-collapse: collapse; 
        } 
        th, td { 
            border: 1px solid #a0a0a0; 
            padding: 2px; 
            white-space: nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis; 
        } 
        th { 
            background-color: #f2f2f2; 
        } 
    </style>
{% endblock %}

{% block content %}

{{block_header(servername)}}
<div style="display: flex;">
    <div style="flex: 1; padding: 10px;">
        <div id="savedQueriesList"></div>
        <button onclick="newQuery()">New</button>
        <button onclick="renameQuery()">Rename</button>
        <button onclick="deleteQuery()">Delete</button>
    </div>
    <div style="flex: 3; padding: 10px;">
        <textarea id="queryInput" style="width: 100%; height: 30em;"></textarea>
        <button onclick="submitQuery()">Run Query</button>
        <button onclick="saveQuery()">Save</button>
        <button onclick="clearOutput()">Clear Output</button>
    </div>
</div>
{{ block_footer() }}

{{block_header('Query Results')}}
<div>
    <input type="text" id="timeColumn" placeholder="Time Column Name" value="date">
    <select id="timeGranularity">
        <option value="yearly">Yearly</option>
        <option value="monthly">Monthly</option>
        <option value="daily" selected>Daily</option>
        <option value="hourly">Hourly</option>
    </select>
    <input type="text" id="dataColumn" placeholder="Data Column Name" value="total_hits">
    <button onclick="renderChart()">Render Chart</button>
</div>
<div id="chartContainer">
    <canvas id="myChart"></canvas>
</div>
<div id="query_results"></div>
{{block_footer()}}

<script>
    var sqlResponse = null;

    function submitQuery() {
        document.getElementById('query_results').innerHTML = '';
        const query = document.getElementById('queryInput').value;
        fetch('/sql', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ query: query })
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('query_results').innerHTML = createHtmlTableFromData(data);
            sqlResponse = data;
        }).catch(error => {
            console.log('catch-error: ', error);
        });
    }

    function createHtmlTableFromData(data) {
        let tableHtml = "<table><thead><tr>";
        data.columns.forEach(column => {
            tableHtml += `<th>${column}</th>`;
        });
        tableHtml += "</tr></thead><tbody>";
        data.rows.forEach(row => {
            tableHtml += "<tr>";
            data.columns.forEach(column => {
                tableHtml += `<td>${row[column]}</td>`;
            });
            tableHtml += "</tr>";
        });
        tableHtml += "</tbody></table>";
        return tableHtml;
    }

    function saveQuery() {
        const title = prompt("Enter a title for the query:");
        if (title) {
            const query = document.getElementById('queryInput').value;
            let queries = JSON.parse(localStorage.getItem('queries')) || [];
            queries.push({ title, query });
            localStorage.setItem('queries', JSON.stringify(queries));
            updateSavedQueriesList();
        }
    }

    function updateSavedQueriesList() {
        let queries = JSON.parse(localStorage.getItem('queries')) || [];
        let listHtml = queries.map((item, index) => 
            `<div onclick="loadQuery(${index})">${index}. ${item.title}</div>`
        ).join('');
        document.getElementById('savedQueriesList').innerHTML = listHtml;
    }

    function loadQuery(index) {
        let queries = JSON.parse(localStorage.getItem('queries'));
        document.getElementById('queryInput').value = queries[index].query;
    }

    function newQuery() {
        document.getElementById('queryInput').value = '';
    }

    function renameQuery() {
        const index = prompt("Enter the index of the query to rename:");
        if (index !== null) {
            const newTitle = prompt("Enter the new title:");
            let queries = JSON.parse(localStorage.getItem('queries'));
            if (queries[index]) {
                queries[index].title = newTitle;
                localStorage.setItem('queries', JSON.stringify(queries));
                updateSavedQueriesList();
            }
        }
    }

    function deleteQuery() {
        const index = prompt("Enter the index of the query to delete:");
        if (index !== null) {
            let queries = JSON.parse(localStorage.getItem('queries'));
            if (queries[index]) {
                queries.splice(index, 1);
                localStorage.setItem('queries', JSON.stringify(queries));
                updateSavedQueriesList();
            }
        }
    }

    // Call updateSavedQueriesList to display saved queries on page load
    updateSavedQueriesList();
</script>

<script>
    let myChart = null;
    
    function createChart() {    
        let newChart = new Chart(document.getElementById('myChart').getContext('2d'), {
            type: "line",
            data: {
                labels: [],
                datasets: []
            },
            options: {
                responsive: false,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        ticks: {
                            stepSize: 1
                        }
                    },
                    x: {
                        ticks: {
                            autoSkip: true,
                            maxRotation: 45,
                            minRotation: 45
                        }
                    }
                }
            }
        });
        return newChart;
    }

    function renderChart() {
        const timeColumn = document.getElementById('timeColumn').value;
        const dataColumn = document.getElementById('dataColumn').value;
        const granularity = document.getElementById('timeGranularity').value;
        const queryData = sqlResponse;

        const processedData = processDataForChart(queryData, timeColumn, dataColumn, granularity);
        
        const minWidthPerDataPoint = 10; // Minimum width per data point in pixels
        const extraWidth = 100; // Extra width for axes and borders
        const totalWidth = minWidthPerDataPoint * processedData.labels.length + extraWidth;
        
        // Set the width of the canvas based on the sql response size
        const canvas = document.getElementById('myChart');
        canvas.style.width = totalWidth + 'px';
        canvas.style.height = '500px';
        
        if (myChart) {
            myChart.destroy();
        }

        // we have to destroy then create a new chart to adjust to the new canvas size which is based on the sql response data
        myChart = createChart();
        
        myChart.data =  {
            labels: processedData.labels,
            datasets: [{
                label: 'Data',
                data: processedData.data
            }]
        };

        myChart.update();
    }

    function processDataForChart(data, timeColumn, dataColumn, granularity) {
        if (!data || !data.rows || data.rows.length === 0) {
            console.error("No data to process");
            return { labels: [], data: [] };
        }
    
        const firstTime = new Date(data.rows[0][timeColumn] + 'Z');
        const lastTime = new Date(data.rows[data.rows.length - 1][timeColumn] + 'Z');    
        let currentTime = new Date(firstTime);
        let fullTimeBlocks = [];
        
        //create a blank array of time blocks
        while (currentTime <= lastTime) {
            fullTimeBlocks.push(formatTime(currentTime, granularity));
            incrementTime(currentTime, granularity);
        }

        // Convert data rows into a map for easier lookup
        const dataMap = new Map(data.rows.map(row => [row[timeColumn], row[dataColumn]]));
        let mergedData = [];

        //debugging outputs
        console.log("DataMap:");
        dataMap.forEach((value, key) => {
            console.log(key + ' = ' + value);
        });
        console.log("TimeBlocks:");
        fullTimeBlocks.forEach((block) => {
            console.log(block);
        });

        // Merge data points into the time blocks
        mergedData = fullTimeBlocks.map(block => {
            const value = dataMap.has(block) ? dataMap.get(block) : 0;
            console.log(`Merging data for time block ${block}: value = ${value}`);
            return {
                time: block,
                value: value
            };
        });
  
        return {
            labels: mergedData.map(item => item.time),
            data: mergedData.map(item => item.value)
        };
    }
    
    function formatTime(date, granularity) {
        const year = date.getUTCFullYear();
        const month = (date.getUTCMonth() + 1).toString().padStart(2, '0'); // JavaScript months are 0-indexed
        const day = date.getUTCDate().toString().padStart(2, '0');
        const hour = date.getUTCHours().toString().padStart(2, '0');
    
        switch (granularity) {
            case 'yearly':
                return `${year}`;
            case 'monthly':
                return `${year}-${month}`;
            case 'daily':
                return `${year}-${month}-${day}`;
            case 'hourly':
                return `${year}-${month}-${day} ${hour}:00`;
            default:
                return `${year}-${month}-${day} ${hour}:00`; 
        }
    }
    
    function incrementTime(date, granularity) {
        switch (granularity) {
            case 'yearly':
                date.setUTCFullYear(date.getUTCFullYear() + 1);
                break;
            case 'monthly':
                date.setUTCMonth(date.getUTCMonth() + 1);
                break;
            case 'daily':
                date.setUTCDate(date.getUTCDate() + 1);
                break;
            case 'hourly':
                date.setUTCHours(date.getUTCHours() + 1);
                break;
        }
    }
    
</script>

{% endblock %}